html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color:rgb(0, 0, 0);
  font-size: 50px;
}

#particle-canvas {
  width: 100%;
  height: 100%;
}